src/main/mule/aws.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:s3="http://www.mulesoft.org/schema/mule/s3" xmlns:sftp="http://www.mulesoft.org/schema/mule/sftp"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/sftp http://www.mulesoft.org/schema/mule/sftp/current/mule-sftp.xsd
http://www.mulesoft.org/schema/mule/s3 http://www.mulesoft.org/schema/mule/s3/current/mule-s3.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="ed05f599-6539-4fa4-be5c-f993b520d525" >
		<http:listener-connection host="localhost" port="8081" />
	</http:listener-config>
	<sftp:config name="SFTP_Config" doc:name="SFTP Config" doc:id="d41822b1-a71d-4d77-9bb7-27b211981436" >
		<sftp:connection host="test.rebex.net" username="demo" password="password" />
	</sftp:config>
	<s3:config name="Amazon_S3_Configuration" doc:name="Amazon S3 Configuration" doc:id="42e21887-417c-46eb-8cbf-1f7555757d6f" >
		<s3:basic-connection accessKey="AKIA3KKELEXZ6DADKOF6" secretKey="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" region="US_WEST_1" />
	</s3:config>
	<flow name="awsFlow" doc:id="7235524a-164e-4aa3-87e4-eb8baf8e5203" >
		<http:listener doc:name="Listener" doc:id="c5c56795-dd82-4a40-ae55-04dbfecfb18c" config-ref="HTTP_Listener_config" path="/aws"/>
		<sftp:read doc:name="Read" doc:id="8b030119-b2c2-4bd7-87ea-b7995b17b304" config-ref="SFTP_Config" path="/pub/example/readme.txt"/>
		<logger level="INFO" doc:name="Logger" doc:id="ecb1c9a2-7798-44e2-8616-a19308778b26" message="#[payload]"/>
		<s3:create-object doc:name="Create object" doc:id="70e68d6d-d422-43de-a7ab-103a656d9efe" config-ref="Amazon_S3_Configuration" bucketName="mulesoftnew" key="readme.txt"/>
		<logger level="INFO" doc:name="Logger" doc:id="656b2686-8c09-4f4d-ac21-d78d86cb81cd" message="object is created in aws"/>
	</flow>
</mule>
